<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Agregar Facturas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/styles/style_form.css" rel="stylesheet" media="all">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <script type="text/javascript">
    // Initialize our function when the document is ready for events.
    jQuery(document).ready(function(){
       
        jQuery("#cantidad").on('input', function (evt) {
            // Allow only numbers.
            jQuery(this).val(jQuery(this).val().replace(/[^0-9]/g, ''));
        });


    

    });


    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("formulario").addEventListener('submit', validarFormulario); 
    });


    function validarFormulario(evento) {
    evento.preventDefault();
       
        var cantidad = document.getElementById('cantidad').value;
        if(cantidad=="" || cantidad.length > 8) {
            alert('Cantidad invalida');
            return;
        }

        var date = document.getElementById('fecha').value;
        if (date=="") {
            alert('Verifiqué el campo Fecha!');
            return;
        }

        this.submit();
    }

    </script> 

</head>
<body >
    <div class="page-wrapper bg-gra-02  font-poppins">
        <div class="wrapper wrapper--w600">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Registrar Facturas</h2>
                    <form method="POST" id="formulario">
                        <div class="row row-space">

                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Fecha</label>
                                    <input class="input--style-4" min="1950-01-01" max="2022-04-27" type="date" name="fecha" id="fecha">  
                                </div>
                            </div>

                            
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Cantidad</label>
                                    <input class="input--style-4" type="text" name="cantidad" id="cantidad">
                                </div>
                            </div>
                        </div>
                     
                        
                        <div class="p-t-15">
                       <center>    <button class="btn btn--radius-2 btn--blue" type="submit">Registrar</button> </center> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/script.js"></script>

</body>
</html>