<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cardiología</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/styles.css'>
    <script src='main.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
<body>

    <h2 class="title">Cardiología</h2><br>
    <div class="container">

        <div class="card">
            <h3 class="title-card">Login</h3>
            <form id="login" method="POST" action="/login">    
                <label><b>Usuario     
                </b>    
                </label>    
                <input type="text" name="name" id="Uname" placeholder="Nombre">    
                <br><br>    
                <label><b>Contraseña     
                </b>    
                </label>    
                <input type="Password" name="Pass" id="Pass" placeholder="Constraseña" type="password">    
                <br><br>   
                <button type="submit" id="log">Ingresar</button> 
                <br><br>    
            </form>
        </div>

    </div>    


    

</body>
</html>